@font-face {
        font-family: "Mshtakan";
        src: url("./font/GHEAGrpalatReg.otf") format("opentype"),
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  color: #5e5b64;
  height: 100%;
  margin-top: -85px;
  text-align: center;
  font-family: "Mshtakan", "Times New Roman", "sans serif";
}
a {
  outline: none;
}
a:visited {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.search-bar {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  border-radius: 15% 5%;
  box-shadow: 0 1px 1px #cccccc;
  margin: 80px auto 20px;
  padding: 14px;
  position: relative;
  width: 400px;
}
.search-bar input {
  background: #ffffff no-repeat 13px 13px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  color: #738289;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  outline: none;
  padding: 11px 0;
  text-align: left;
  text-indent: 40px;
  width: 100%;
}
.terminalogy-header {
  margin: 80px auto 20px;
  padding: 14px;
  position: relative;
  width: 400px;
}

#content {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 60px;
}
#main ul li {
  float: left;
  overflow: hidden;
  padding: 10px;
}
#main ul li img {
  border: none;
  height: 160px;
  width: 160px;
  object-fit: contain;
}
#main ul li p {
  color: #6e7a7f;
  font-weight: bold;
  padding-top: 12px;
  width: 160px;
  height: 38px;
}
footer {
  background: green;
  background: -moz-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: -ms-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: -webkit-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: linear-gradient(to right, green 0%, green 80%, lightgreen 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='@white', GradientType=1);
  width: 100%;
  display: inline-block;
  color: white;
  height: 60px;
  margin-top: -60px;
  position: relative;
  text-align: center;
}
footer ul li {
  display: inline-block;
  padding: 0em 1em;
  color: white;
  border-left: 1px solid white;
}
footer ul li a,
footer ul li a:visited {
  color: white;
  text-decoration: none;
}
footer ul li a:hover {
  color: white;
  text-decoration: underline;
}
footer ul li.border_none {
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 824px) {
  #content {
    font-size: 18px;
    margin-right: 0;
    overflow: hidden;
  }
  footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        right: 0;
  }
  .search-bar {
    max-width: 300px;
  }
  #main ul li {
    clear: both;
    float: none;
  }

  #main ul li p {
     width: 100%
  }
}
