@font-face {
        font-family: "Mshtakan";
        src: url("../font/GHEAGrpalatReg.otf") format("opentype"),
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family:  "Mshtakan", "Times New Roman", sans-serif;
}
.wrapper {
  min-height: 100%;
}
.main {
  padding-bottom: 60px;
}
.container {
  float: left;
  margin-right: -320px;
  width: 100%;
}
.content {
  background-image: url(/herbs/img/bg.png);
  border-bottom-right-radius: 40px;
  margin-right: 320px;
  overflow: auto;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 16px;
}
.sidebar {
  float: right;
  width: 320px;
}
img {
  border: none;
  height: 320px;
  width: 320px;
  object-fit: contain;
}
.under-construction {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
p {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 1px;
  word-spacing: 3px;
  line-height: 125%;
}
p span {
  font-weight: bold;
  color: #305CB5;
  font-size: 14px;
  padding: 2px 6px;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
}
p.no-border {
  border: none;
}
footer {
  background: green;
  background: -moz-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: -ms-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: -webkit-linear-gradient(left, green 0%, green 80%, lightgreen 100%);
  background: linear-gradient(to right, green 0%, green 80%, lightgreen 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='@white', GradientType=1);
  width: 100%;
  display: inline-block;
  color: white;
  height: 60px;
  margin-top: -60px;
  position: relative;
  text-align: center;
}
footer ul li {
  display: inline-block;
  padding: 0em 1em;
  color: white;
  border-left: 1px solid white;
}
footer ul li a,
footer ul li a:visited {
  color: white;
  text-decoration: none;
}
footer ul li a:hover {
  color: white;
  text-decoration: underline;
}
footer ul li.border_none {
  border: none;
}
#contact,
#about,
#volunteering {
  float: left;
}
#contact ul li,
#about ul li,
#volunteering ul li {
  color: #305CB5;
}
